<div class="row">
  <div class="col">
    <label for="basic-url">User</label>
    <div class="input-group mb-3">

      <input type="text"  class="form-control" id="basic-url" aria-describedby="basic-addon3"
        placeholder="search users" #search>
    </div>
    <button type="button" (click)="fun(search)" class="btn btn-primary">Primary</button>
  </div>
  <div class="col">
    <label for="basic-url">Repository</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="search users">
    </div>
    <button type="button" (click)="fun(search)" class="btn btn-primary">Serch</button>
  </div>
</div>
