<div class="row">
  <div class="col">
    <label for="basic-url">Your vanity URL</label>
    <div class="input-group mb-3">

      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="search users">

    </div>
  </div>
  <div class="col">
    <label for="basic-url">Your vanity URL</label>
    <div class="input-group mb-3">

      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="search users">
    </div>
  </div>
</div>
