<p>
  profile works!
</p>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">

    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{user.name}}</p>

                <button class="btn btn-primary" (click)="getRepos()">REPOs</button>
            </div>

        </div>

    </div>
    <div class="col-md-4 ">
      <br><br>

     </div>
  </div>
  <br> <br>
  <div class="row">
        <div  class="col-sm-4" *ngFor='let repo of result; let i = "index"'>
            <div id="mycards" class="card">
                <div class="card-body" >
                    <h3 class="card-title">{{repo.name}}</h3>
                    <p class="card-text"><a href="{{repo.html_url}}">{{repo.html_url}}</a> <br> {{repo.description}} </p>


                </div>
            </div>
        </div>


  </div>
</div>
