<div class="container">
  <form #gitform='ngForm' class="form-search">
    <div class="form-group">
      <p>GithubSearchApp</p>
      <input type="text" class="form-control" placeholder="search" [(ngModel)]="username" name="username"
        (keyup)="findProfile()">
    </div>
  </form>
  <div class='row'>
    <div class="col-md-6">
      <div *ngIf="profile">
        <p>{{profile.name}}</p>
        <p><a href="{{profile.html_url}}" target="blank">{{profile.login}}</a></p>
        <p>{{profile.company}}</p>
      </div>
      <img src="{{profile.avatar_url}}" width="100px" class="img-circle img-responsive" alt="profile-image">
      <p>{{profile.email}}</p>
      <hr>
      <div>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        <span class="label label-primary" *ngIf="profile.following"> Following {{profile.following}} </span>
        <span class="label label-primary" *ngIf="profile.followers"> Followers {{profile.followers}} </span>
        <span class="label label-primary"> Repository {{profile.public_repos}} </span>
        <span class="label label-info"></span>
      </p>
      <p>{{profile.bio}}</p>
      <p>{{profile.blog}}</p>
      <p>{{profile.hireable}}</p>
      <p>{{profile.location}}</p>
      <p><a href="{{profile.public_repos}}" target="blank" style="color:white;">Repository</a></p>
      <p><a href="{{profile.html_url}}" class="btn btn-danger btn-xl" target="blank">View in Github</a></p>
    </div>
  </div>
</div>


<div class="container">
  <form #gitform='ngForm' class="form-search">
    <div class="form-group">
      <p>GithubSearchApp</p>
      <input type="text" class="form-control" placeholder="search" [(ngModel)]="searchvalue" name="searchvalue"
        (keyup)="findrepo()">
    </div>
  </form>

  <div *ngIf="repository">
    <p>{{repository.name}}</p>
    <p>qwerty</p>
  </div>
  <!-- <div class='row'>
    <div class="col-md-6">

      <img src="{{profile.avatar_url}}" width="100px" class="img-circle img-responsive" alt="profile-image">
      <p>{{profile.email}}</p>
      <hr>
      <div>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        <span class="label label-primary" *ngIf="profile.following"> Following {{profile.following}} </span>
        <span class="label label-primary" *ngIf="profile.followers"> Followers {{profile.followers}} </span>
        <span class="label label-primary"> Repository {{profile.public_repos}} </span>
        <span class="label label-info"></span>
      </p>
      <p>{{profile.bio}}</p>
      <p>{{profile.blog}}</p>
      <p>{{profile.hireable}}</p>
      <p>{{profile.location}}</p>
      <p><a href="{{profile.public_repos}}" target="blank" style="color:white;">Repository</a></p>
      <p><a href="{{profile.html_url}}" class="btn btn-danger btn-xl" target="blank">View in Github</a></p>
    </div>
  </div>  -->
</div>
