<div class="container">
  <form action="" class="form-search">
    <div class="form-group">
      <h1>GithubSearchApp</h1>
      <input type="text" class="form-control" placeholder="search" [(ngModel)]="username" name="username"
        (keyup)="findProfile()">
    </div>
  </form>
  <div class="container-fluid" id="body">

    <div *ngIf="profile">
      <div class="panel panel-default" style="margin-bottom:0px;">
        <div class="panel-heading">
          <h2>{{profile.name}}</h2>
          <h2><a href="{{profile.html_url}}" target="blank">{{profile.login}}</a></h2>
          <h2>{{profile.company}}</h2>
        </div>
        <div class="panel-body" id="body-p">
          <div class="row">
            <div class="col-md-6">
              <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="profile-image">
              <p>{{profile.email}}</p>
            </div>
            <hr>
            <div class="col-md-6">
              <div>
                <p>
                  <span class="label label-primary" *ngIf="profile.following"> Following {{profile.following}} </span>
                  <span class="label label-primary" *ngIf="profile.followers"> Followers {{profile.followers}} </span>
                  <span class="label label-primary"> Repository {{profile.public_repos}} </span>
                  <span class="label label-info"></span>
                </p>
                <p>{{profile.bio}}</p>
                <p>{{profile.blog}}</p>
                <p>{{profile.hireable}}</p>
                <p>{{profile.location}}</p>
                <p><a href="{{profile.public_repos}}" target="blank" style="color:white;">Repository</a></p>
                <p><a href="{{profile.html_url}}" class="btn btn-danger btn-xl" target="blank">View in Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <form action="" class="form-search">
    <div class="form-group">
      <h1>GithubSearchApp</h1>
      <input type="text" class="form-control" placeholder="search" [(ngModel)]="username" name="username"
        (keyup)="findProfile()">
    </div>
  </form>
  <div class="container-fluid" id="body">

    <div *ngIf="profile">
      <div class="panel panel-default" style="margin-bottom:0px;">
        <div class="panel-heading">
          <h2>{{profile.name}}</h2>
          <h2><a href="{{profile.html_url}}" target="blank">{{profile.login}}</a></h2>
          <h2>{{profile.company}}</h2>
        </div>
        <div class="panel-body" id="body-p">
          <div class="row">
            <div class="col-md-6">
              <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="profile-image">
              <p>{{profile.email}}</p>
            </div>
            <hr>
            <div class="col-md-6">
              <div>
                <p>
                  <span class="label label-primary" *ngIf="profile.following"> Following {{profile.following}} </span>
                  <span class="label label-primary" *ngIf="profile.followers"> Followers {{profile.followers}} </span>
                  <span class="label label-primary"> Repository {{profile.public_repos}} </span>
                  <span class="label label-info"></span>
                </p>
                <p>{{profile.bio}}</p>
                <p>{{profile.blog}}</p>
                <p>{{profile.hireable}}</p>
                <p>{{profile.location}}</p>
                <p><a href="{{profile.public_repos}}" target="blank" style="color:white;">Repository</a></p>
                <p><a href="{{profile.html_url}}" class="btn btn-danger btn-xl" target="blank">View in Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="row">
  <div class="col">
    <label for="basic-url">User</label>


    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search users" #user required>
    </div>
    <button type="submit" class="btn btn-primary">Serch</button>
  </div>
  <div class="col">
    <label for="basic-url">Repository</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search repository" #rep>
    </div>
    <button type="button" (click)="repos(rep)" class="btn btn-primary">Serch</button>
  </div>
</div> -->


<app-profile></app-profile>
